<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/head', { title: 'Dashboard'}) %>
  </head>
  <body class="c-app">
     <%- include('layout/side-bar') %>
      <%# Header %>
      <%- include('layout/header') %>
        <main class="c-main">
          <div class="container-fluid">
            <div class="fade-in"></div>
          </div>
        </main>
      <%# Footer %>
    <%- include('layout/foot') %>

  </body>
</html>